
<nav class="navbar ">
    <div class="brand-title">Welcome to World School</div>
    <a href="#" class=" toggle-button"><span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
     </a>
    <div class="navbar-links">
        <ul>
            <li><a routerLink="/studentform"> Home</a></li>
            <li><a>Add Student</a></li>
            <li> <a >View Student</a>

            </li>
            <li><a href="#"> Contact Us</a></li>
            <li><a> Update</a></li>
        </ul>
       
    </div>
</nav>