
<div class="row">
<div class="col col-xl-4 col-md- col-sm-4 "></div>
<div class="col col-xl-6 col-md-6 col-sm-6 col-lg-6">
<div class="card" style="width: 18rem;">
    <img src="https://www.shareicon.net/data/512x512/2016/05/24/770137_man_512x512.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Student ID Card</h5>
      <p class="card-text">Name:-{{studentdata.fname}} {{studentdata.lname}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email:-{{studentdata.emailid}}</li>
      <li class="list-group-item">Gender:-{{studentdata.gender}}</li>
      <li class="list-group-item">Address:-{{studentdata.address}}</li>
      <li class="list-group-item">DOB:-{{studentdata.dob}}</li>
      <li class="list-group-item">Course:-{{studentdata.course}}</li>
    </ul>
    <div class="card-body">
      <button routerLink="/studentview" class="btn bg-success"> &laquo; Back</button>
      
    </div>
  </div>
  <div class="col col-xl-4 col-md-4 col-sm-4 "></div>
</div>
</div>